<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Departure Times</title>
  <link rel="stylesheet" type="text/css" href="frontend/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="frontend/styles/test.css">
</head>

<body>
<div class="container">
  <h1>Departure Times</h1>

  <div class="row">
    <span class="col-md-3">
      User custom location:
      <input type="checkbox" name="custom_location_checkbox" onchange="onToggleCheckbox(this)" checked>
    </span>
  </div>

  <div class="row">
    <div class="col-md-6 user-location-label _user-location-label">
      <label>Your location is: </label>
      <br>
      <span id="user-location"></span>
    </div>
  </div>


  <div class="custom_location">
  <label>Latitude and Longitude:</label>
  <div class="form-group row">
    <div class="col-md-2">
      <input id="lat" type="number" name="latitude" class="form-control" value="37.791028"></input>
    </div>
    <div class="col-md-2">
      <input id="lon" type="number" name="longitude" class="form-control" value="-122.393375"></input>
    </div>
  </div>
  </div>

  <label>Number of nearest bus stops:</label>
  <div class="form-group row">
    <div class="col-md-2">
      <input id="num-nearest" type="number" name="num-nearest" class="form-control" value="20"></input>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      <button class="btn btn-default" onclick="getDepartureTimes()">Get</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="map-canvas"></div>
      <div class="map-description _map-description">Circle sizes indicate how soon the bus will arrive.</div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="_bus-data-container"></div>
    </div>
  </div>

<!--Backbone Templates-->
<script type="text/template" id="busStop-template">
<div class="view">
  <div>The bus name is <%= title %></div>
</script>

<script type="text/template" id="busStops-template">
<div class="bus-stops-collection-view"></div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Bus Name</th>
        <th>Prediction</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(collection, function(model) { %>
        <tr>
          <td><%= model.stopId %></td>
          <td><%= model.agencyTitle + ": " + model.stopTitle %></td>

          <td><%= model.message %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</script>

<script src="frontend/bower_components/jquery/dist/jquery.min.js"></script>
<script src="frontend/bower_components/underscore/underscore-min.js"></script>
<script src="frontend/bower_components/backbone/backbone-min.js"></script>
<script src="frontend/bower_components/underscore/underscore-min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="frontend/scripts/main.js"></script>
<script src="frontend/scripts/models/busStop.js"></script>
<script src="frontend/scripts/views/busStop.js"></script>
<script src="frontend/scripts/collections/busStops.js"></script>
<script src="frontend/scripts/views/busStops.js"></script>
<script src="frontend/controller.js"></script>
</body>
</html>
